<!DOCTYPE html>
<html>
  <head>
    <title>Socially</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if current_user %>
    <p>Logged-in as <%= current_user.email %><p>
    <%= link_to 'SignOut', logout_path , method: :delete %>
  <% else %>
    <%= link_to 'SignIn', login_path, method: :get %>
    <% end %>
    <%= link_to 'Home', root_path %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <body>
    <%= yield %>
  </body>
</html>
